In [1]:
USA	 =  ['United States']
CAN	 =  ['Canada']
JPK  =  ['Japan', 'South Korea']
ANZ  =  ['Australia', 'New Zealand']
EEU  =  ['Albania', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Hungary', 'FYR Macedonia', 'Poland', 'Romania', 'Slovakia', 'Slovenia', 'Yugoslavia']
FSU	 =	['Armenia', 'Azerbaijan', 'Belarus', 'Estonia', 'Georgia', 'Kazakhstan', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Moldova', 'Russia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan']
MDE	 = 	['Bahrain', 'Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Qatar', 'Saudi Arabia', 'Syria', 'Turkey', 'United Arab Emirates', 'West Bank and Gaza', 'Yemen']
CAM	 = 	['Belize', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama']
SAM	 =	['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'French Guiana', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']
SAS	 =  ['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan', 'Sri Lanka']
SEA	 =	['Brunei', 'Cambodia', 'East Timor', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Papua New Guinea', 'Philippines', 'Singapore', 'Taiwan', 'Thailand', 'Vietnam']
CHI	 =  ['China', 'Hong Kong', 'North Korea', 'Macau', 'Mongolia']
NAF	 =	['Algeria', 'Egypt', 'Libya', 'Morocco', 'Tunisia', 'Western Sahara']
SSA	 =	['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Congo-Brazzaville', 'Congo-Kinshasa', 'Cote dâ€™Ivoire', 'Djibouti', 'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea- Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone', 'Somalia', 'South Africa', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe']
SIS	 =  ['Antigua and Barbuda', 'Aruba', 'Bahamas', 'Barbados', 'Bermuda', 'Comoros', 'Cuba', 'Dominica', 'Dominican Republic', 'Fiji', 'French Polynesia', 'Grenada', 'Guadeloupe', 'Haiti', 'Jamaica', 'Kiribati', 'Maldives', 'Marshall Islands', 'Martinique', 'Mauritius', 'Micronesia', 'Nauru', 'Netherlands Antilles', 'New Caledonia', 'Palau', 'Puerto Rico', 'Reunion', 'Samoa', 'Sao Tome and Principe', 'Seychelles', 'Solomon Islands', 'St Kitts and Nevis', 'St Lucia', 'St Vincent and Grenadines', 'Tonga', 'Trinidad and Tobago', 'Tuvalu', 'Vanuatu', 'Virgin Islands']
WEU  =  ['Andorra', 'Austria', 'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Liechtenstein', 'Luxembourg', 'Malta', 'Monaco', 'Netherlands', 'Norway', 'Portugal', 'San Marino', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']

import inspect

def retrieve_name(var):
    callers_local_vars = inspect.currentframe().f_back.f_locals.items()
    return [var_name for var_name, var_val in callers_local_vars if var_val is var]


import pandas as pd
list_label = [USA, CAN, JPK, ANZ, EEU, FSU, MDE, CAM, SAM, SAS, SEA, CHI, NAF, SSA, SIS, WEU]

In [49]:
data_impact = pd.read_csv('data\impact factor.csv')
data_impact

   label   delta
0    USA  1.1941
1    CAN  1.4712
2    WEU  1.1248
3    JPK  1.0555
4    ANZ  0.9676
5    EEU  1.1676
6    FSU  1.2866
7    MDE  1.1546
8    CAM  0.8804
9    SAM  0.8504
10   SAS  0.9074
11   SEA  0.7098
12   CHI  1.1847
13   NAF  1.1430
14   SSA  0.8780
15   SIS  0.7517

In [50]:
d = ['Entity', 'Impact Factor']

df = pd.DataFrame(columns=d)

In [74]:
df

             Entity Impact Factor
0       Afghanistan        0.9074
1           Albania        1.1676
2           Algeria         1.143
3           Andorra        1.1248
4            Angola         0.878
..              ...           ...
202  Western Sahara         1.143
203           Yemen        1.1546
204      Yugoslavia        1.1676
205          Zambia         0.878
206        Zimbabwe         0.878

[207 rows x 2 columns]

In [61]:
for label in list_label:
    line_impact_factor = data_impact[data_impact['label'] == retrieve_name(label)[0]]
    impact_factor = line_impact_factor.iloc[0]['delta']
    for contry in label:
        new_df = pd.DataFrame(data={'Entity' : [contry], 'Impact Factor': [impact_factor]})
        df = pd.concat([df, new_df])

In [70]:
df = df.sort_values('Entity').reset_index(drop=True)

In [78]:
df

             Entity Impact Factor
0       Afghanistan        0.9074
1           Albania        1.1676
2           Algeria         1.143
3           Andorra        1.1248
4            Angola         0.878
..              ...           ...
202  Western Sahara         1.143
203           Yemen        1.1546
204      Yugoslavia        1.1676
205          Zambia         0.878
206        Zimbabwe         0.878

[207 rows x 2 columns]

In [82]:

data = pd.read_csv('test.csv')
data.drop(['Unnamed: 0'], axis=1, inplace=True)
data_merged = pd.merge(data, df, on=['Entity'], how='left').reset_index(drop=True)

In [83]:
data_merged.to_csv('data/DATA.csv')